<!DOCTYPE html>
<html>
<head>
  <title>Car Listings</title>
  <link rel="stylesheet" type="text/css" href="stylesheets/index.css">
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
  <div class="wrapper">
    <div class="header">
      <h1>Car Listings Semantic Website</h1>
    </div>
  </div>

  <div class="wrapper">
    <div class="listings">
      <a href="/car_listings">
        <div class="listings-card">
          <img src="images/all-cars.png" alt="car1" class="car-image">
          <h2 class="title-font">All Cars</h2>
        </div>
      </a>

      <a href="/offroad_cars">
        <div class="listings-card">
          <img src="images/offroad-cars.png" alt="car1" class="car-image">
          <h2 class="title-font">Offroad/SUV</h2>
        </div>
      </a>

      <a href="/sport_cars">
        <div class="listings-card">
          <img src="images/sports-cars.png" alt="car1" class="car-image">
          <h2 class="title-font">Sport</h2>
        </div>
      </a>

      <a href="/coupe_roadster_cars">
        <div class="listings-card">
          <img src="images/coupe-cars.png" alt="car1" class="car-image">
          <h2 class="title-font">Coupe/Roadster</h2>
        </div>
      </a>

      <a href="/old_cars">
        <div class="listings-card">
          <img src="images/old-cars.png" alt="car1" class="car-image">
          <h2 class="title-font">Old Cars</h2>
        </div>
      </a>

      <a href="/new_cars">
        <div class="listings-card">
          <img src="images/new-cars.png" alt="car1" class="car-image">
          <h2 class="title-font">New Cars</h2>
        </div>
      </a>
    </div>
  </div>
</body>
</html>