<!DOCTYPE html>
<html>
<head>
  <title>Data</title>
  <link rel="stylesheet" type="text/css" href="stylesheets/index.css">
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
  <h1 class="header">
    <div class="logo">Car Listings Semantic Web</div>
    <div class="search">Search</div>
  </h1>
  <h1>Test</h1>
</body>
</html>